<h1>Reset your password</h1>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Important Note</h3>
  </div>
  <div class="panel-body">
		<p>We will send you a recovery token via text message when you submit this form. Check your phone right away - your token will expire after ten minutes!</p>
  </div>
</div>
<fieldset>
	<%= form_for(:token, url: generate_token_path_url, method: "post", class: 'form-horizontal') do |f| %>
		<div class="form-group">
			<%= f.label(:phone, "Phone", class: "col-lg-2 control-label") %>
			<div class="col-lg-10">
				<%= f.text_field(:phone, class: "form-control", maxlength: 10) %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<%= f.submit("Send recovery token", class: "btn btn-primary") %>
			</div>
		</div>
	<% end %>
</fieldset>
