<h2>Congratulations, <%= user.name %>!</h2>
<p>You've successfully registered for Fivv. This web app is currently in demo mode, meaning all accounts require administrator approval, and accounts will remain active for five days after approval. You will receive a text message when your account has been approved.</p>