<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Congratulations, <%= @user.name %>!</h3>
  </div>
  <div class="panel-body">
		<p>You've successfully registered for Fivv. This web app is currently in demo mode, meaning all accounts require administrator approval, and accounts will remain active for seven days after approval. You will receive a text message when your account has been approved.</p>
  </div>
</div>
